.modal-container,
.modal-content {
  background-color: var(--white);
}
.modal-title {
  color: var(--black);
}
.add-board-form {
  display: flex;
  flex-direction: column;
  padding: 0 var(--main-margin);
}
.add-board-form label:not(:first-child),
.add-board-form button {
  margin-top: 15px;
}
.add-board-form label {
  margin: 0 0 8px 0;
  padding: 0;

  color: var(--label-color);
  font-size: 13px;
  font-weight: 700;
}

.add-board-form input {
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  resize: none;
  padding: 0 var(--placeholder-padding);
  cursor: pointer;
  outline: none;
  height: 40px;
  background-color: var(--white);
  color: var(--black);
}

.add-board-form input:focus {
  border: 2px solid var(--main-purple);
  outline: none;
}
.column-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.column-input input {
  flex: 1;
  height: 40px;
}
.column-input img {
  cursor: pointer;
}
.columns-err {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 110px;
  left: 103px;
  border-radius: var(--tile-radius);
  border-top-left-radius: 2px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  background-color: #fecece;
  color: var(--red);
  font-weight: 500;
}
.add-board-form button {
  height: 40px;
  border-radius: var(--btn-radius);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.add-column-btn {
  background-color: var(--btn-secondary-color);
  color: var(--main-purple);
}
.create-column-btn {
  background-color: var(--main-purple);
  color: white;
  margin-bottom: var(--main-margin);
}
.add-column-btn:hover {
  background-color: var(--btn-secondary-hover-color);
}
.create-column-btn:hover {
  background-color: var(--main-purple-hover);
}
