.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 2 / 1 / -1 / 1;
  border-right: var(--border-light);
  height: calc(100vh - var(--header-height));
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

/* all boards */
.sidebar--all-boards h3 {
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: 700;
  color: var(--medium-gray);
  padding: 15px var(--main-margin);
}
.sidebar--all-boards ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar--all-boards ul li {
  padding: 11px 7px 11px 0px;
  margin-right: 20px;
  padding-left: var(--main-margin);
  border-top-right-radius: var(--board-radius);
  border-bottom-right-radius: var(--board-radius);
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  color: var(--medium-gray);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
  transition: all 0.3s ease-in-out;
}
.sidebar--all-boards ul li:hover {
  background-color: var(--light-gray);
  color: var(--main-purple);
}
.selected {
  color: white !important;
  background-color: var(--main-purple) !important;
}

.sidebar--board-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 8px 0;
  margin-left: var(--main-margin);
  cursor: pointer;

  color: var(--main-purple);
  font-size: 15px;
  font-weight: 700;
}
.sidebar--board-button img {
  margin-right: 20px;
}

/* theme */

.sidebar--display-settings {
  display: flex;
  flex-direction: column;
}
.sidebar--theme {
  align-self: center;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 45px;
  transition: all 0.3s ease-in-out;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0px 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-purple);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--main-purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* hide sidebar */
.hide-sidebar {
  grid-template: 97px 1fr / 0px 1fr;
}
.sidebar--hide-sidebar {
  display: flex;
  margin: 10px 20px var(--main-margin) 0px;
  padding: 11px 0px 11px var(--main-margin);
  border-top-right-radius: var(--board-radius);
  border-bottom-right-radius: var(--board-radius);
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  font-weight: 700;
  font-size: 15px;
  color: var(--medium-gray);
}
.sidebar--hide-sidebar img {
  background-color: #fff;
}
.sidebar--hide-sidebar:hover {
  background-color: var(--light-gray);
  color: var(--main-purple);
}
