@font-face {
  font-family: "PlusJakartaSans";
  font-weight: 500;
  src: local("PlusJakartaSans"),
    url(../src/assets/PlusJakartaSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "PlusJakartaSans";
  font-weight: 700;
  src: local("PlusJakartaSans"),
    url(../src/assets/PlusJakartaSans-Bold.woff) format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --very-dark-gray: #20212c;
  --dark-gray: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-gray: #828fa3;
  --medium-gray-transparent: #828fa327;
  --input-border-color: rgb(202, 202, 202);
  --btn-secondary-color: rgba(99, 95, 199, 0.1);
  --btn-secondary-hover-color: rgba(99, 95, 199, 0.25);
  --lines-light: #e4ebfa;
  --light-gray: #f4f7fd;
  --white: #fff;
  --red: #ea5555;
  --red-hover: #ff9898;

  --border-light: 1px solid var(--lines-light);
  --border-dark: 1px solid var(--lines-dark);

  --btn-radius: 24px;
  --tile-radius: 8px;
  --board-radius: 30px;

  --placeholder-padding: 10px;
  --main-margin: 30px;
  --tile-padding: 20px;
  --header-height: 97px;
  --sidebar-width: 300px;
}
.wrapper {
  display: grid;
  grid-template: var(--header-height) 1fr / var(--sidebar-width) 1fr;
  max-height: 100vh;
  max-width: 100vw;

  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 500;
}
button:focus,
button:active {
  border: none;
  outline: none;
}
.disabled {
  background-color: #a9a4ff82 !important;
}
.hide {
  display: none !important;
}
.show-err {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.2s ease-in-out;
}
.active-board {
  grid-area: 2 / 2 / -1 / -1;
}
.show-sidebar-icon {
  background-color: var(--main-purple-hover);
  width: 56px;
  height: 48px;
  position: fixed;
  bottom: 40px;
  border-top-right-radius: var(--board-radius);
  border-bottom-right-radius: var(--board-radius);
  display: grid;
  place-content: center;
  cursor: pointer;
}

/* dropdown settings */
.settings-img {
  width: max-content;
  height: max-content;
  padding: 12px 12px;

  cursor: pointer;
}
.dropdown-settings {
  position: absolute;
  height: 94px;
  width: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--tile-radius);
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--white);
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  gap: 8px;
}
.dropdown-item {
  font-size: 14px;
}
.dropdown-item:nth-child(1) {
  color: var(--medium-gray);
  cursor: pointer;
}
.dropdown-item:nth-child(2) {
  color: var(--red);
  cursor: pointer;
}
